.center {
  display: block;
  margin:0 auto;
}
.separate {
  padding:4px;
}
video {
  margin:0px;
  padding:0px;
}
@media screen and (max-width: 980px) {
  body {
    margin:0px;
    padding:0px;
  }
  button {
    font-size: 36px;
    padding: 10px 30px;
  }
  div.text {
    font-size:48px;
    margin:8px;
  }
}

